<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <% if(error.length>0){ %>
        <div class="flash absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 px-3 mt-5 rounded-full bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>
            <div class="w-full  bg-cover bg-center bg-no-repeat  rounded-lg min-h-screen flex px-20 text-white" style="background-image: url('/images/bg.jpg');">
                <div class="w-1/2 flex items-center justify-center h-screen">
                    <div class="w-full px-32">
                        <h3 class="text-4xl">Welcome to <span class="text-yellow-400 hover:text-blue-500 transorm transition-transform duration-200 hover:scale-110 font-semibold">Shouse</span></h3>
                        <h4 class="text-2xl mb-5">Create your Account</h4>
                        <form autocomplete="off" action="/users/register" method="post">
                            <input
                                class="text-black bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="text" placeholder="Full Name" name="fullname">
                            <input
                                class="text-black bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="email" placeholder="Email" name="email">
                            <input
                                class="text-black bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="number" placeholder="Contact" name="contact">
                            <input
                                class="text-black bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="password" placeholder="Password" name="password">
                            <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                                value="Create My Account">
                        </form>
                    </div>
                </div>
                <div class="w-1/2 flex items-center justify-center h-screen">
                    <div class="w-full px-32">
                        <h4 class="text-2xl capitalize mb-5">login your account</h4>
                        <form autocomplete="off" action="/users/login" method="post">
                            <input
                                class="text-black block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="email" placeholder="Email" name="email">
                            <input
                                class="text-black block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                type="password" placeholder="Password" name="password">
                            <input class="px-10 block rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                                value="Login">
                        </form>
                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>

            <script>
                setTimeout(function() {
                    const flashMessage = document.querySelector('.flash');
                    if (flashMessage) {
                        flashMessage.style.transition = 'opacity 1s';
                        flashMessage.style.opacity = '0';
                        setTimeout(() => flashMessage.remove(), 1000); 
                    }
                }, 3000);
            </script>
</body>
</html>